{% extends 'templates/base.html' %}
{% block welcome %}
{% endblock %}
{% block content %}
    <div class="container">        
        <div class="col-lg-12 text-center">
            <h3>Login EON Acme Store</h3>
            <form class="" method="POST">        
                {% csrf_token %}
                <div class="mb-3">
                    <label for="Email">Email</label>
                    <input id="email" type="text" name="email" class="" autocomplete="off" placeholder="Email" required>
                </div>
                <div class="group mb-4">
                    <label for="">Password</label>
                    <input id="password" type="password" name="password" class="" placeholder="Password" required>
                </div>
                <input type="submit" class="btn btn-primary" value="Login">    
            </form>
        </div>
    </div>
  {% endblock %}